@utility body-xs {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.0025em;
}

@utility body-xs-400 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.0025em;
}

@utility body-xs-500 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.0025em;
}

@utility body-xs-600 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.0025em;
}

@utility body-sm {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

@utility body-sm-400 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}

@utility body-sm-500 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@utility body-sm-600 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

@utility body-md {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.0025em;
}

@utility body-md-400 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.0025em;
}

@utility body-md-500 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.0025em;
}

@utility body-md-600 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.0025em;
}

@utility body-lg {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.0025em;
}

@utility body-lg-400 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.0025em;
}

@utility body-lg-500 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.0025em;
}

@utility body-lg-600 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.0025em;
}

@utility heading-xl {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

@utility heading-lg {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.0075em;
}

@utility heading-md {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.005em;
}

@utility heading-sm {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.005em;
}

@utility heading-xs {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.0025em;
}

@utility heading-xxs {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.0025em;
}

@utility code {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
