@utility border-spacing-0 {
  border-spacing: 0;
}

@utility focus-shadow {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--honeycomb-color-primary-hover);
}

@utility focus-outline {
  outline: 2px solid var(--honeycomb-color-primary-hover);
  outline-offset: -2px;
}

@utility focus-border {
  outline: none;
  border: 2px solid var(--honeycomb-color-primary-hover);
}

@utility focus-none {
  outline: none;
  box-shadow: none;
}

@utility grid-area-cover {
  grid-area: 1 / 1 / 2 / 2;
}

@utility break-anywhere {
  overflow-wrap: anywhere;
}
