:root {
  --honeycomb-color-primary:              #1414c1;
  --honeycomb-color-primary-hover:        #3355ff;
  --honeycomb-color-primary-active:       #000099;
  --honeycomb-color-primary-subtle:       #bdd7ff;
}
